@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('bootstrap/glyphicons-halflings-regular.eot');
  src: font-url('bootstrap/glyphicons-halflings-regular.eot?iefix') format('embedded-opentype'),
      font-url('bootstrap/glyphicons-halflings-regular.woff') format('woff'),
      font-url('bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
      font-url('bootstrap/glyphicons-halflings-regular.svg') format('svg');
}

@font-face {
  font-family: 'Bebas';
  src: font-url('bebas/bebas.eot');
  src: font-url('bebas/bebas.eot?iefix') format('embedded-opentype'),
      font-url('bebas/bebas.woff') format('woff'),
      font-url('bebas/bebas.ttf') format('truetype'),
      font-url('bebas/bebas.svg') format('svg');
}

@font-face {
  font-family: 'Bubble';
  src: font-url('bubble.ttf') format('truetype');
}

@font-face {
  font-family: 'Jackpot';
  src: font-url('Jackpot.ttf') format('truetype');
}

@font-face {
  font-family: 'Sketch';
  src: font-url('Sketch.ttf') format('truetype');
}